
<section class="description container">
    <h2 class="description-title">What’s Special About Our Offerings</h2>
    <p class="description-text">
      With our platform, you can browse through a diverse selection of
      cuisines and local restaurants, and choose from a variety of dishes
      that cater to your specific taste buds.
    </p>
    <ul class="description-list">
      <li class="description-item">
        <div class="box-item">
          <svg class="description-img" width="32" height="32">
            <use href="./img/icons.svg#icon-rocket"></use>
          </svg>
          <h3 class="description-card-title">Fasest Delivery</h3>
        </div>
        <p class="description-card-text">
          Our advanced logistics system and dedicated delivery partners
          ensure that your meals are delivered to you within 30-minutes.
        </p>
      </li>
      <li class="description-item">
        <div class="box-item">
          <svg class="description-img" width="32" height="32">
            <use href="./img/icons.svg#icon-touch"></use>
          </svg>
          <h3 class="description-card-title">Easy to order</h3>
        </div>
        <p class="description-card-text">
          You can browse through a wide variety of cuisines and restaurants,
          select your favorite meals, and place your order in just a few
          clicks.
        </p>
      </li>
    </ul>
    <div class="description-box">
      <button class="description-btn">Order Now</button>
      <a class="description-link" href="">Read More</a>
      <svg class="description-link-img" width="14" height="14">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
    </div>
  </section>