<footer class="footer container" id="contact" >
  <div class="footer-box">
    <div class="footer-nav-box">
      <svg class="footer-logo-icon" width="69" height="51">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      <nav class="footer-nav">
        <ul class="footer-list-nav">
          <li class="footer-item-nav">
            <a class="footer-nav-link" href="#">Home</a>
          </li>
          <li class="footer-item-nav">
            <a class="footer-nav-link" href="#about">About</a>
          </li>
          <li class="footer-item-nav">
            <a class="footer-nav-link" href="#service">Service</a>
          </li>
          <li class="footer-item-nav">
            <a class="footer-nav-link" href="#menu">Menu</a>
          </li>
          <li class="footer-item-nav">
            <a class="footer-nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <p class="footer-text">Subscribe</p>
      <form class="footer-input-box" action="submit.php" method="post">
        <div class="icon-sub-box">
          <input
            class="footer-input error-input"
            type="email"
            name="subscribe"
            id="subscribe"
            placeholder="Enter your email"
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          />
          <svg class="icon-error" width="24" height="24">
            <use href="./img/icons.svg#icon-error"></use>
          </svg>
        </div>
        <button type="submit" class="footer-btn">Subscribe</button>
      </form>
      <p class="footer-text-policy">
        By subscribing you agree to with our
        <span><a class="footer-item-link" href="#">Privacy Policy</a></span>
      </p>
    </div>
  </div>
  <div class="footer-policy-box">
    <ul class="footer-list">
      <li class="footer-item">
        <a class="footer-item-link" href="#">Privacy Policy</a>
      </li>
      <li class="footer-item">
        <a class="footer-item-link" href="#">Terms of Service</a>
      </li>
      <li class="footer-item">
        <a class="footer-item-link" href="#">Cookies Settings</a>
      </li>
    </ul>
    <p class="footer-text-bot">2022 FoodSta. All right reserved.</p>
  </div>
</footer>