<section class="gallery container">
    <h2 class="gallery-title">Some of Our Favorites</h2>
    <p class="gallery-text">
      Looking for something delicious? 
    </p>
    <ul class="gallery-list">
      <div class="gallery-border">
        <li class="gallery-item">
          <img width="315" height="315" src="./img/gamburger.png" alt="burger" />
        </li>
      </div>
      <div class="gallery-border">
        <li class="gallery-item"><img width="315" height="315" src="./img/pasta.png" alt="pasta" /></li>
      </div>
      <div class="gallery-border">
        <li class="gallery-item"><img width="315" height="315" src="./img/pizza.png" alt="pizza" /></li>
      </div>
      <div class="gallery-border gallery-tab">
        <li class="gallery-item"><img width="315" height="315" src="./img/chicken.png" alt="chicken" /></li>
      </div>
      <div class="gallery-border gallery-tab">
        <li class="gallery-item"><img width="315" height="315" src="./img/salat.png" alt="salat" /></li>
      </div>
      <div class="gallery-border gallery-tab">
        <li class="gallery-item"><img width="315" height="315" src="./img/borshch.png" alt="borshch" /></li>
      </div>
    </ul>
  </section>
