<section class="gallery container">
    <h2 class="gallery-title">Some of Our Favorites</h2>
    <p class="gallery-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="gallery-list">
      <div class="gallery-border">
        <li class="gallery-item">
          <img src="./img/gamburger.png" alt="" />
        </li>
      </div>
      <div class="gallery-border">
        <li class="gallery-item"><img src="./img/pasta.png" alt="" /></li>
      </div>
      <div class="gallery-border">
        <li class="gallery-item"><img src="./img/pizza.png" alt="" /></li>
      </div>
    </ul>
  </section>
