<header class="header container">
  <svg class="mob-menu-icon" width="66" height="52">
    <use href="./img/icons.svg#icon-logo"></use>
  </svg>
  <button
    type="button"
    class="menu-toggle js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg class="mob-menu-icon" width="24" height="24">
      <use href="./img/icons.svg#icon-menu"></use>
    </svg>
  </button>
  <!-- close btn -->
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button type="button" class="menu-toggle js-close-menu">
      <svg class="mob-menu-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="header-list-nav">
      <li class="header-item-nav">
        <a class="header-nav-link" href="#">Home</a>
      </li>
      <li class="header-item-nav">
        <a class="header-nav-link" href="#">About</a>
      </li>
      <li class="header-item-nav">
        <a class="header-nav-link" href="#">Service</a>
      </li>
      <li class="header-item-nav">
        <a class="header-nav-link" href="#">Menu</a>
      </li>
      <li class="header-item-nav">
        <a class="header-nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</header>