
<section class="subscribe container">
  <div class="sub-box-img"><img width="608" height="266" class="subscribe-img" src="./img/banana.png" alt="banana" /></div>
    <h2 class="sub-title">Subscribe To Get Special Offers</h2>
    <p class="sub-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <div class="sub-box-form">
      <input
        class="sub-input"
        type="text"
        placeholder="Enter your email"
        name="subscribe"
        id="#subscribe"
      />
      <button class="sub-btn">Subscribe</button>
    </div>
  </section>