:root {
  --mt_color: #2c2c2c;
  --b_color: #fefefe;
  --white: #ffffff;
  --green: #7eb101;
  --light_green: #bbf330;
  --yellow: #ffe550;
  --text_nav: #000000;
  --input_sub: #505050;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--mt_color);
  background-color: var(--b_color);
}

.container {
  max-width: 320px;
  padding: 0 20px;
  /* border: 1px solid red; */
  margin: auto;
}
@media screen and (min-width: 768px)  {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
      url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalam';
  src: url('../fonts/Kalam-Regular.woff2') format('woff2'),
      url('../fonts/Kalam-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
