#about {
  scroll-margin-top: 235px;
}

.description-box-img {
  position: relative;
  width: 200px;
}

.apple-img {
  position: relative;
  margin: auto;
  padding-top: 60px;
  z-index: 1;
}

.shadow-apple-img::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 45px;
  background: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0.2) 100%);
  filter: blur(6.61818265914917px);
  border-radius: 50%;
  z-index: 0; 
}



.description-title {
  font-size: 28px;
  font-weight: 700;
  padding-top: 60px;
  line-height: 1.2;
}
.description-text {
  font-size: 14px;
  line-height: 1.42;
  padding-top: 20px;
}
.description-img {
  margin-right: 4px;
}
.box-item {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.description-card-title {
  font-size: 18px;
  font-weight: 700;
}
.description-card-text {
  font-size: 14px;
  line-height: 1.42;
  padding-top: 16px;
}
.description-box {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.description-btn {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  display: inline-flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid var(--green);
  background-color: var(--white);
  transition: border-color 1.2s;
  transition: background-color 1.2s;
}
.description-btn:hover,
.description-btn:focus {
  border-color: var(--yellow);
  background-color: var(--light_green);
}
.description-link {
  font-size: 13.7px;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 24px;
}

@media screen and (min-width: 768px) {
  .description {
    background-image: url(/img/juce.png), url(/img/orangad.png);
    background-repeat: no-repeat;
    background-position: center right;
  }
  .apple-img {
    margin-left: 53px;
  }
  .description-title {
    width: 526px;
    font-size: 42px;
  }
  .description-text {
    width: 500px;
    font-size: 16px;
    line-height: 1.5;
  }
  .description-list {
    display: flex;
    gap: 80px;
  }
  .description-card-text {
    width: 252px;
  }
  .shadow-apple-img::before {
    bottom: -25px;
    transform: translateX(-15%);
    width: 156px;
    height: 57px;
  }
}

@media screen and (min-width: 1280px) {
  .description {
    background-image: none;
    background-color: var(--yellow);
    display: flex;
    padding-top: 167px;
    padding-bottom: 124px;
    gap: 90px;
  }
  .apple-img {
    width: 380px;
    height: 536px;
    position: absolute;
    top: -110px;
  }
  .description-title {
    padding-top: 29px;
  }
  .description-box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 550px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    width: 550px;
    height: 550px;
    background-color: var(--yellow);
    position: relative;
  }
  .description-border-img {
    width: 502px;
    height: 502px;
    border-radius: 502px;
    background-color: var(--white);
  }
  .description-link {
    display: none;
  }
  .description-link-img {
    display: none;
  }
  .description-box {
    margin-top: 32px;
  }
  .description-img-fon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: var(--white);
  }
  .shadow-apple-img::before {
    bottom: 80px;
    transform: translateX(-50%);
    width: 252px;
    height: 87px;
  }
}
