.footer {
    background-image: url(/img/footer_mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
    margin-bottom: 300px;
  }
  /* .container {
  } */
  .footer-nav-box {
    display: flex;
    margin-top: 60px;
  }
  .footer-logo-icon {
    margin-right: 46px;
  }
  .footer-nav {
    padding-top: 4px;
  }
  .footer-list-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* .footer-item-nav {
  } */
  .footer-nav-link {
    color: var(--text_nav);
    font-size: 14px;
    font-weight: 500;
  }
  .footer-nav-link:hover,
  .footer-nav-link:focus {
    color: var(--green);
    font-size: 15px;
  }
  .footer-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    padding-top: 40px;
    padding-bottom: 12px;
  }
  .footer-input {
    display: inline-flex;
    height: 42px;
    padding: 12px 128px 12px 12px;
    align-items: center;
    font-size: 12px;
    border-radius: 30px;
    border: 0.854px solid var(--yellow);
    background-color: var(--white);
  }
  .footer-btn {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    width: 103px;
    height: 35px;
    padding: 8px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 0.854px solid var(--green);
    background-color: var(--white);
    transition: border-color 1.2s;
    margin-top: 20px;
  }
  .footer-btn:hover,
  .footer-btn:focus {
    border-color: var(--yellow);
  }
  .footer-text-policy {
    font-size: 10px;
    padding-top: 24px;
  }
  .footer-list {
    display: flex;
    gap: 33px;
    padding-top: 60px;
  }
  /* .footer-item {
  } */
  .footer-item-link {
    color: var(--green);
    font-size: 10px;
    text-decoration-line: underline;
  }
  .footer-text-bot {
    font-size: 10px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
  }