.gallery-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  padding-top: 60px;
}
.gallery-text {
  font-size: 14px;
  line-height: 1.42;
  padding-top: 16px;
}
.gallery-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.gallery-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 282px;
  border: 11px solid var(--yellow);
  border-radius: 50%;
}
.gallery-tab {
  display: none;
}

@media screen and (min-width: 768px) {
  .gallery-title {
    font-size: 42px;
  }
  .gallery-text {
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
  }

  .gallery-tab {
    display: flex;
  }

  .gallery-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    margin-top: 40px;
  }

  .gallery-border {
    width: 334px;
    height: 338px;
    border: 14px solid var(--yellow);
  }

  .gallery-item {
    max-width: 280px;
  }
}

@media screen and (min-width: 1280px) { 
  .gallery {
    padding: 120px 32px 101px;
  }
  .gallery-title {
    padding-top: 0;
  }

  .gallery-border {
    width: 381px;
    height: 393px;
    border: 16px solid var(--yellow);
  }
  .gallery-item {
    max-width: 315px;
  }
}

