/* .hero {
}
.container {
} */
.hero-title {
  font-size: 28px;
  font-weight: 700;
  padding-top: 40px;
  line-height: 1.2;
}
.hero-text {
  font-size: 14px;
  line-height: 1.42;
  padding-top: 18px;
}
.hero-btn {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 32px;
  display: inline-flex;
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--light_green);
  transition: background-color 1.2s;
  border: transparent;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--yellow);
}

.hero-img {
  margin: auto;
}
.slider-box {
  display: none;
}

/* MODAL */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  padding: 32px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 320px;
  height: 450px;
  background-color: var(--yellow);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-btn:hover,
.backdrop-btn:focus {
  background-color: var(--light_green);
}
/* MODAL-FORM */
.modal-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
.modal-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 32px;
}
/* .modal-box {
} */
.modal-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  padding-left: 12px;
}
.modal-input-box {
  position: relative;
}
.modal-input {
  width: 280px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid var(--green);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  padding-left: 35px;
}
.modal-input-icon {
  position: absolute;
  top: 12px;
  left: 12px;
}
.modal-form-btn {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  width: 106px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid var(--green);
  margin: auto;
  transition: background-color 1.2s;
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--light_green);
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 480px;
    font-size: 42px;
  }
  .hero-box {
    display: flex;
    justify-content: space-between;
  }
  .hero-text {
    width: 336px;
    font-size: 16px;
    line-height: 1.5;
  }

  .slider-container {
    display: flex;
    align-items: center;
    width: 329px;
    height: 320px;
    overflow: hidden;
    position: relative;
    border: 14px solid var(--yellow);
    border-radius: 50%;
  }

  .slider {
    display: flex;
    transition: transform 0.5s;
  }

  .slide {
    width: 300px;
    padding: 10px;
    text-align: center;
  }

  .slider-btn-left {
    position: absolute;
    top: 135px;
    left: -15px;
    height: 32px;
    width: 40px;
    padding: 2px;
    background-color: transparent;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  }
  .slider-btn-right {
    position: absolute;
    top: 135px;
    left: 301px;
    height: 32px;
    width: 38px;
    padding: 2px;
    background-color: transparent;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  }
  .slider-box {
    display: block;
    position: relative;
    margin-right: 20px;
  }
}
