/* .reviews {
}
.container {
} */
.reviews-title {
  font-size: 28px;
  font-weight: 700;
  padding-top: 60px;
}
.reviews-text {
  font-size: 14px;
  line-height: 1.42;
  padding-top: 14px;
}

.reviews-stars-img {
  margin-top: 41px;
}
.reviews-text-comment {
  font-size: 16px;
  font-weight: 700;
  padding-top: 8px;
}
.reviews-card-box {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 16px;
}
.reviews-user-border {
  border-right: 2px solid var(--light_green);
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 42px;
  }
  .reviews-text {
    font-size: 16px;
    padding-top: 20px;
  }
  .reviews-list-box{
    display: flex;
    gap: 44px;
  }
  .reviews-list {
    width: 336px;
}
.reviews-text-comment {
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 20px;
  width: 312px;
}
}

@media screen and (min-width: 1280px) {
  .reviews {
    padding: 140px 32px 126px;
    background-color: var(--yellow);
  }
  .reviews-list-box{
    margin-top: 32px;
    display: flex;
    gap: 139px;
  }
  .reviews-list {
    width: 501px;
    background-color: var(--white);
    border-radius: 0px 30px 30px 30px;
    padding: 15px;
}
.reviews-text-comment {
  width: 473px;
}
.reviews-stars-img {
  margin: 0;
}
}